mat-sidenav {
  background-color: black;
  width: 230px;
  height: 100%;
}

mat-sidenav-content {
  height: 100vh;
  background-color: rgb(228, 232, 234);
  .main {
    margin-left: 30px;
  }
}

mat-toolbar {
  mat-icon {
    margin-left: 15px;
    color: gray;
    cursor: pointer;
  }
  justify-content: space-between;
  .box {
    margin-top: 15px;
  }

  mat-icon:hover {
    color: black;
  }
}
